

body {
background-color: #30343f;
font-family:'Raleway', sans-serif;
color: #fff;

}


.upload{
width: 50%;
height: 100px;
border: 2px dashed #aaa;
display: block;
text-align: center;
border-radius: 4px;
box-sizing: border-box;
transition: .2s;
}

.upload:hover{
    background-color: rgba(170, 170, 170, 0.726);
}