{% extends 'Layout/layout.html.twig' %}

{% block title %}
    {{ parent() }} - mememaker
{% endblock %}

{% block content %}
    <div class="row align-items-center">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <label class="upload d-flex justify-content-center align-items-center">Uploader une image</label>
        </div>

        <div class="col-md-6"><h1>Choisissez une image</h1>
        <div class="row pt-3">
            <div class="col-3"><img src="./assets/images/1.jpg" width="100" heigh="100"></div>
            <div class="col-3"><img src="./assets/images/2.jpg" width="100" heigh="100"></div>
            <div class="col-3"><img src="./assets/images/3.jpg" width="100" heigh="100"></div>
            <div class="col-3"><img src="./assets/images/4.jpg" width="100" heigh="100"></div>
            </div>
        
        <div class="row pt-3">
            <div class="col-3"><img src="./assets/images/1.jpg" width="100" heigh="100"></div>
            <div class="col-3"><img src="./assets/images/2.jpg" width="100" heigh="100"></div>
            <div class="col-3"><img src="./assets/images/3.jpg" width="100" heigh="100"></div>
            <div class="col-3"><img src="./assets/images/4.jpg" width="100" heigh="100"></div>
            </div>

        <div class="row pt-3">
            <div class="col-3"><img src="./assets/images/1.jpg" width="100" heigh="100"></div>
            <div class="col-3"><img src="./assets/images/2.jpg" width="100" heigh="100"></div>
            <div class="col-3"><img src="./assets/images/3.jpg" width="100" heigh="100"></div>
            <div class="col-3"><img src="./assets/images/4.jpg" width="100" heigh="100"></div>
            </div>

        </div>
        
    </div>
{% endblock %}