{% extends 'Layout/layout.html.twig' %}

{% block title %}
    {{ parent() }} - mememaker
{% endblock %}

{% block content %}
    <div class="row align-items-center">

        <div class="col-md-12 d-flex justify-content-center align-items-center">
        
      
           </div>
            
        
    </div>
{% endblock %}